<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% if is_login %}Login{% elif is_home %}{{ site.author }}{% elif is_tag %}{{ tag }}{% elif post %}{{ post.title }}{% endif %} | {{ site.name }}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ assets('css/style.css') }}">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header class="site-header">
            <h1 class="site-title"><a href="{{ site.base_url }}">{{ site.name }}</a></h1>
            {% if site.bio %}
                <div class="about">
                    {{ site.bio }}
                </div>
            {% endif %}
            <nav>
                {% if site.tags %}
                    <ul class="menu">
                        {% for tag in site.tags %}
                            <li><a href="/tag/{{ tag.name }}">{{ tag|format_tag(link=False, humanize=True) }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <ul class="contact">
                    <li><a href="{{ site.atom_url }}">Feed</a></li>
                    {% if site.twitter %}
                        <li><a href="{{ site.twitter }}">Follow me on Twitter</a></li>
                    {% endif %}
                    {% if site.facebook %}
                        <li><a href="{{ site.facebook }}">Facebook</a></li>
                    {% endif %}
                    {% if site.googleplus %}
                        <li><a href="{{ site.googleplus }}">Google+</a></li>
                    {% endif %}
                    {% if site.linkedin %}
                        <li><a href="{{ site.linkedin }}">Linkedin</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <main class="main">
            <section class="content">
                {% if is_home or is_tag %}
                    {% if posts %}
                        {% for post in posts %}
                            <article class="hentry  {{ post.type }}">
                                {% if post.tags %}
                                <div class="entry__tags">
                                    {% for tag in post.tags %}
                                        <a href="/tag/{{ tag }}" class="tag">{{ tag|format_tag(link=False, humanize=True) }}</a>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <div class="entry__content" data-type-cleanup="true">
                                    {% if post.type == 'screenshot' %}
                                         screen
                                    {% endif %}
                                    {{ post.content }}
                                </div>
                                <h1 class="entry__title">{{ post.title }}</h1>
                                <a href="{{ post.url }}" class="go-to">Visit {{ post.title }}</a>
                            </article>
                        {% endfor %}
                        <div class="pagination">
                            <div class="next">{% if pagination.next %}<a href="{{ pagination.next }}">More</a>{% else %}This is the last page.{% endif %}</div>
                            <div class="prev">{% if pagination.prev %}<a href="{{ pagination.prev }}">Go Back</a>{% else %}This is the first page.{% endif %}</div>
                        </div>
                    {% else %}
                        <div class="no-posts">No Posts :(</div>
                    {% endif %}<!-- posts -->
                {% endif %}<!-- home or tag -->
            </section>
        </main>
        {% if site.analytics %}
            <script>
                (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                e.src='//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
                ga('create','{{ site.analytics }}','auto');ga('send','pageview');
            </script>
        {% endif %}
    </body>
</html>
